[Unit]
Description=SSSA Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/sssa/
ExecStart=/etc/sssa/sssa -c /etc/sssa/sss-agent.yaml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
